<div class = 'row' style="color: #FFFF00; background-color: black; display:inline-block; float: right">
  <div class = 'col-xl-6'>
    <h1>EconGame</h1>
    <h2>How to Play</h2>
    <p>You're all inputing a number, and that number should be between 1 and 100. <br>Your collective guesses will be added up, and averaged. <br>Your guess should be what you think that average divided by 2 will be.</p>
  </div>
  <div class = 'col-xl-6'>
  <h2>Test Your Logic</h2>
    <form style="color:red" ng-submit = "numCtrl.addUser()">
      <input type = 'text' ng-model="numCtrl.newUser.username" placeholder="Choose Your Fighter"/><br>
      <input type = 'number' max='100' ng-model="numCtrl.newUser.numGuess" placeholder="Choose Your Number"/><br>
      <button style="color: black">Test Your Logic</button><br>
    </form>
  </div>
</div>
